h1,h2,h3,h4,h5,h6, p, ul {
	padding: 0;
	margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.navigation {
    position: relative;
}
.btn-group {
    position: absolute;
    top: 20px;
    right: -130px;
}
.btn-login {
    text-decoration:none; 
    display: inline-block;
    text-decoration: none;
    color: #3a3e64;
}
.btn-login:hover {
    text-decoration: none;
    color: #3a3e64;
}
